<app-modal *ngIf='author | async; let a' [name]='name'>
    <ng-container header>
        <div class="media is-vcentered">
            <div class="media-left">
                <figure class="image">
                    <img loading='lazy' class='avatar' [src]="a.image?.asset.url + '?fit=max&auto=format'" [alt]="a.name" />
                </figure>
            </div>
            <div class="media-content is-vcentered">
                <p class="title is-4">{{ a.name }}</p>
                <p class="subtitle is-6">
                    <a href='https://twitter.com/{{ a.twitter }}' target='_blank'>
                        @{{ a.twitter }}
                    </a>
                </p>
            </div>
        </div>
    </ng-container>

    <ng-container body>
        <div class='content'>
            <app-block [block]='a.bioRaw'></app-block>
        </div>
    </ng-container>

    <ng-container footer>
        <div class='container buttons is-right'>
            <button class="button is-info" (click)='closeModal(a.slug.current)'>Close</button>
        </div>
    </ng-container>
</app-modal>