<footer class="footer is-small has-text-centered has-text-white has-background-dark">
    <div class="container">
        <div class="social-icons">
            <p class="field">
                <a class="button is-medium" href="https://twitter.com/mfcodeworks" target="_blank">
                    <span class="icon is-small">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>
                <a class="button is-medium" href="https://linkedin.com/in/arran-fletcher" target="_blank">
                    <span class="icon is-small">
                        <i class="fab fa-linkedin-in"></i>
                    </span>
                </a>
                <a class="button is-medium" href="https://github.com/mfcodeworks" target="_blank">
                    <span class="icon is-small">
                        <i class="fab fa-github"></i>
                    </span>
                </a>
                <a class="button is-medium" href="mailto:arranjamesfletcher2012@gmail.com">
                    <span class="icon is-small">
                        <i class="far fa-envelope"></i>
                    </span>
                </a>
            </p>
        </div>
        <div class="copyright">
            Built by me <i class="far fa-copyright"></i> 2020
        </div>
        <div class="made-by-bulma">
            <a href="https://bulma.io">
                <img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="163" height="31" />
            </a>
        </div>
    </div>
</footer>