<app-navbar color='black'></app-navbar>

<section class='section'>
    <div class='container'>
        <div class='columns is-centered'>
            <div class='column is-three-fifths'>
                <article class='card' *ngIf='author | async; let a'>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image">
                                    <img class='avatar' [src]="a.image?.asset.url" [alt]="a.name">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ a.name }}</p>
                                <!-- <p class="subtitle is-6">@johnsmith</p> -->
                            </div>
                        </div>

                        <div class="content">
                            <app-block [block]='a.bioRaw'></app-block>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>