.hero.has-background {
    position: relative;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.slider-container {
    margin-top: 3rem;
}

#image-grid-section {
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        figure {
            display: flex;
            margin: 2rem;
            width: 100px;
            height: 100px;
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        @media (max-width: 500px) {
            margin-top: 2rem;
            figure {
                margin: 1rem;
            }
        }
    }
}

.post-preview-container {
    margin: 4rem 0 2rem 0;
}

/* Desktop only styling */
@media (min-width: 769px) {
    #image-grid-section {
        padding: 0rem 3rem;
    }
    .heading-spacer {
        margin: 1rem 6rem;
    }
    .post-preview-container {
        margin: 3rem 5rem;
    }
}

.buttons.is-centered {
    .button {
        margin: 1rem;
    }
}

.is-mobile {
    display: none;
    @media(max-width: 768px) {
        display: block;
    }
}