<section class="hero is-fullheight has-background has-text-centered">
    <img alt="Cool Fullscreen Background Image"
        class="hero-background is-transparent"
        src="assets/img/hero.jpg" />
    <div class='hero-head'>
        <app-navbar></app-navbar>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
                Scalable Apps, Fast Backend Code &amp; Advanced IT Management
            </h1>
            <h2 class="subtitle is-size-4-desktop">
                I help solve your IT problems.<br />
                I design clean, fast, maintainable code for any project.
            </h2>
        </div>
    </div>
</section>

<section class='section has-background-dark hero is-fullheight is-long has-text-centered'>
    <div class='hero-body'>
        <div class='container'>
            <div class='columns is-centered'>
                <div class="column is-three-quarters">
                    <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile has-text-white">
                        Hey, I’m Arran
                    </h1>
                    <h2 class="subtitle is-size-5-desktop has-text-white">
                        I'm a fully qualified, highly experienced developer
                        with 5 years work in the industry. I've architected large scale
                        applications within AWS, created complex multi-platform apps,
                        worked extensively managing backend servers, and I'm an expert
                        at web hosting, DNS management, and SEO optimization.
                    </h2>
                </div>
            </div>

            <div class='slider-container'>
                <app-tool-slider [tools]='imageSlides | async'></app-tool-slider>
            </div>
        </div>
    </div>
</section>

<section class='section has-background-white'>
    <div class='container'>
        <div class='columns is-centered'>
            <div class="column" id='image-grid-section'>
                <div class='heading-spacer'>
                    <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">
                        Technology Stack
                    </h1>
                    <p class='subtitle is-size-5'>
                        Below is just some of the technologies I've worked extensively
                        with, and offer my services for. <br/>
                        I'm always practicing new technology
                        and setting myself apart with clean, maintainable, fast code.
                    </p>
                </div>
                <div class='image-grid'>
                    <figure *ngFor='let i of imageSlides | async'>
                        <a [routerLink]="['/', 'blog', 'tag', i.alt]">
                            <img [src]='i.image' [alt]='i.alt' />
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section has-background-grey-dark'>
    <div class='container'>
        <div class='columns is-centered'>
            <div class="column is-three-quarters">
                <div class='heading-spacer'>
                    <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile has-text-white">
                        My Latest Work
                    </h1>
                    <p class='subtitle is-size-5 has-text-white'>
                        I keep this portfolio updated with my latest
                        work and share my knowledge and experience with everyone here,
                        and at my <a class='subtitle has-text-white has-text-underlined' href="https://dev.to/mfcodeworks" target="_blank">
                            dev.to profile
                        </a>. Below is some of my latest articles.
                    </p>
                </div>
                <div class='post-preview-container'>
                    <app-post-preview *ngFor='let p of posts | async' [post]='p'></app-post-preview>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section has-background-white'>
    <div class='container'>
        <div class='columns is-centered'>
            <div class="column is-three-quarters">
                <div class='heading-space'>
                    <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">
                        Like What You See?
                    </h1>
                    <p class='subtitle is-size-5'>
                        If you need someone that is confident, understands the fundamentals
                        of HTTP protocol, proper code design, and high level concepts like
                        AWS usage, scalable applications, fast servers, and proper web management,
                        feel free to download a CV or contact me below.
                    </p>
                    <div class='buttons is-centered'>
                        <a class='button is-dark'
                            *ngIf='cv | async; let f'
                            [href]='f.file.asset.url + "?dl=" + f.name'
                            download>
                            <span class="icon">
                                <i class="fas fa-file-download"></i>
                            </span>
                            <span>Download CV</span>
                        </a>
                        <a class='button is-link' [routerLink]="['/', 'contact']">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>