@import "~tiny-slider/dist/tiny-slider.css";
@import "~prismjs/themes/prism-okaidia.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bulma";

/* Display Optimization */
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-y: auto;
}

/* Full width body with sticky footer */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    app-root {
        display: flex;
        flex-direction: column;
        flex: 1;

        app-footer {
            margin-top: auto;
        }
    }
}

/* Wrap line numbering for code snippets */
pre {
    white-space: pre-wrap !important;
}

/* Rounded avatars */
.avatar {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
}

/* Remove uneeded scrollbar */
.media-content {
    overflow-y: hidden;
}

/* Style lists for block content */
.styled-list {
    ul {
        list-style-type: disc;
        list-style-position: inside;
        ul {
            margin-left: 1rem;
            list-style-type: circle;
        }
    }

    /* Space list items on small devices */
    @media (max-width: 769px) {
        li {
            margin: 1rem 0;
        }
    }
}

/* Text decoration */
.has-text-underlined {
    text-decoration: underline;
}