@import "~tiny-slider/dist/tiny-slider.css";
@import "~prismjs/themes/prism-okaidia.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bulma";

html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

pre {
    white-space: pre-wrap !important;
}

.avatar {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
}
.media-content {
    overflow-y: hidden;
}
.block-content ul {
    list-style-type: disc;
    list-style-position: inside;
    ul {
        margin-left: 1rem;
        list-style-type: circle;
    }
}