<app-navbar color='black'></app-navbar>

<section class='section'>
    <div class='container'>
        <h1 class='title is-8'>{{ title }}</h1>
        <h1 class='title is-8' *ngIf='loading | async'>
            <ngx-skeleton-loader
                appearance="line"
                [theme]="{height: '3rem', width: '10rem'}">
            </ngx-skeleton-loader>
        </h1>

        <div class='columns is-centered'>
            <div class='column is-one-fifth'>
                <aside class='menu'>
                    <p class='menu-label'>Categories</p>
                    <ul class='menu-list'>
                        <li *ngIf='loading | async'>
                            <ngx-skeleton-loader count="2" appearance="line"></ngx-skeleton-loader>
                        </li>
                        <li *ngFor='let c of categories'>
                            <a [routerLink]="['/', 'blog', 'category', c.title]">{{ c.title }}</a>
                        </li>
                    </ul>
                    <p class='menu-label is-hidden-mobile'>Tags</p>
                    <ul class='menu-list is-hidden-mobile'>
                        <li *ngIf='loading | async'>
                            <ngx-skeleton-loader count="5" appearance="line"></ngx-skeleton-loader>
                        </li>
                        <li *ngFor='let t of tags'>
                            <a [routerLink]="['/', 'blog', 'tag', t.slug.current]">{{ t.title | titlecase }}</a>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class='column is-three-fifths'>
                <ng-container *ngIf='loading | async'>
                    <ngx-skeleton-loader
                        appearance="line"
                        [theme]="{height: '18rem'}">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                        appearance="line"
                        [theme]="{height: '2rem'}">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                        appearance="line"
                        [theme]="{width: '10rem'}">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                        appearance="line">
                    </ngx-skeleton-loader>
                </ng-container>

                <app-post-preview
                    *ngFor='let p of posts'
                    (openAuthor)='openModal($event)'
                    [post]='p'></app-post-preview>
                <p *ngIf='(postCount | async) < 1' class='subtitle is-size-5 is-size-6-mobile'>
                    Nothing here, <a routerLink='/blog' class='subtitle is-size-5 is-size-6-mobile has-text-underlined'>keep looking</a>?
                </p>
            </div>

            <div class='column is-one-fifth'></div>
        </div>
    </div>
</section>

<app-modal *ngFor='let a of authors' [name]='a.slug.current'>
    <app-author (close)='closeModal($event)' [slug]='a.slug.current'></app-author>
</app-modal>